@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/open-sans/OpenSans-Light-webfont.eot');
  src: url('/fonts/open-sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/open-sans/OpenSans-Light-webfont.woff') format('woff'), url('/fonts/open-sans/OpenSans-Light-webfont.ttf') format('truetype'), url('/fonts/open-sans/OpenSans-Light-webfont.svg#OpenSans') format('svg');
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans/OpenSans-Regular-webfont.eot');
  src: url('/fonts/open-sans/OpenSans-Regular-webfont.eot?iefix') format('eot'), url('/fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'), url('/fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'), url('/fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSans') format('svg');
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans/OpenSans-Bold-webfont.eot');
  src: url('/fonts/open-sans/OpenSans-Bold-webfont.eot?iefix') format('eot'), url('/fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'), url('/fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'), url('/fonts/open-sans/OpenSans-Bold-webfont.svg#OpenSans') format('svg');
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: OpenSans, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
  min-width: 1060px;
}
h1,
h2,
h3,
h4 {
  line-height: 1.25em;
  text-align: center;
}
#l-header {
  background-color: #0099ff;
  color: #ebebe7;
  padding: 60px 0 80px 0;
}
#l-header::-moz-selection,
#l-header ::-moz-selection {
  background: #ebebe7;
  color: #0099ff;
}
#l-header::selection,
#l-header ::selection {
  background: #ebebe7;
  color: #0099ff;
}
#l-header h1 {
  font-size: 85px;
  font-weight: lighter;
  margin: 0;
}
#l-header h2 {
  color: #ebebe7;
  font-weight: normal;
  margin: 2.2em 0 0 0;
}
#l-header h2 > strong {
  color: #ffffff;
}
#l-header h2 > strong::-moz-selection,
#l-header h2 > strong ::-moz-selection {
  background: #ffffff;
  color: #0099ff;
}
#l-header h2 > strong::selection,
#l-header h2 > strong ::selection {
  background: #ffffff;
  color: #0099ff;
}
#l-header pre {
  background-color: #ffffff;
  color: #0099ff;
  font-size: 25px;
  margin: 34px 0;
  padding: 12px 0;
  text-align: center;
}
#l-header pre::-moz-selection,
#l-header pre ::-moz-selection {
  background: #0099ff;
  color: #ffffff;
}
#l-header pre::selection,
#l-header pre ::selection {
  background: #0099ff;
  color: #ffffff;
}
#l-header code {
  font-family: OpenSans, sans-serif;
}
#l-header code:before {
  content: '$';
  padding-right: 0.25em;
}
#l-header .button {
  width: 250px;
}
#l-header-buttons {
  font-size: 0;
  margin-top: 80px;
}
#l-header-buttons::-moz-selection,
#l-header-buttons ::-moz-selection {
  background: transparent;
  color: #ffffff;
}
#l-header-buttons::selection,
#l-header-buttons ::selection {
  background: transparent;
  color: #ffffff;
}
#l-main {
  background-color: #ebebe7;
  text-align: center;
}
#l-main > figure {
  margin: auto;
  padding: 80px 0;
  width: 1060px;
}
#l-main > figure > .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#l-main > figure > .video-container > iframe,
#l-main > figure > .video-container > object,
#l-main > figure > .video-container > embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#l-footer {
  background-color: #666665;
  color: #ffffff;
  height: 95px;
  line-height: 95px;
}
#l-footer::-moz-selection,
#l-footer ::-moz-selection {
  background: #ffffff;
  color: #666665;
}
#l-footer::selection,
#l-footer ::selection {
  background: #ffffff;
  color: #666665;
}
#l-footer > .l-wrapper {
  width: 1060px;
}
#l-footer > .l-wrapper > h3 {
  float: left;
  font-size: 25px;
  margin: 25px 0 0 0;
  padding: 0;
}
#l-footer > .l-wrapper > p {
  float: right;
  font-size: 20px;
  margin: 0;
  text-align: center;
}
.l-wrapper {
  width: 1060px;
  margin: auto;
}
#forkme {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#gandi {
  overflow: hidden;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  display: inline-block;
  background: url('/img/logo_Gandi.png') 0 0 no-repeat;
  background-size: 200px;
  height: 54px;
  width: 200px;
}
.button {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  line-height: 40px;
  margin: 0 0 0 20px;
  padding: 4px 20px 0 20px;
  text-align: center;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-image: none;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 4px;
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background: #4c4c4c;
  border-color: #101213;
}
.button.button-primary {
  color: #ffffff;
  background: #00568f;
  border-color: #00426e;
}
.button:first-child {
  margin: 0;
}
.button:hover,
.button:focus {
  padding-bottom: 4px;
  padding-top: 4px;
  border-bottom-width: 0;
}
.button:hover:active,
.button:focus:active {
  border-top-width: 4px;
  padding-bottom: 4px;
  padding-top: 0;
}
.button:after {
  background-image: url('/img/chevron.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: auto 36px;
  color: rgba(0, 0, 0, 0);
  content: '>';
  margin-left: 20px;
  padding-bottom: 2px;
}
