*~
*.py[cod]
__pycache__

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Builded doc

_build

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings

# virtual env
venv*

conf/.pc
api/.pc

celerybeat-schedule
*.pc
*.sqlite

# gandi
.gandirc
gandi.1.man
gandi.1

# gandi certificate
*.crt
*.csr
*.key

# gh-pages
node_modules/

# Other
bin/
include/
local/
man/
share/


# ArchLinux sources and binaries
packages/archlinux/pkg/
packages/archlinux/src/
